//colors
$gray:#333333;
$bgblue:#B5D0E2;
$borderblue:#2099EB;

//navigation bar colors
$nav-background:$gray;
$nav-text-color:white;

//clock colors
$clock-text-color:white;
$clock-bg-color:$bgblue;
$clock-border-color:$borderblue;
